@use '../shared';

#title {
	text-align: center;
}

#search {
	display: flex;
	align-items: center;
	width: fit-content;
	margin: 0 auto;
	padding-right: 4px;
	overflow: hidden;
	border-radius: shared.$spacing-md;
	box-shadow:
		0 0 5px color-mix(in srgb, #000, transparent 50%),
		0 0 10px color-mix(in srgb, #000, transparent 90%);
	select {
		&:hover {
			background: #f4f4f4;
			cursor: pointer;
			border-radius: shared.$spacing-md;
		}
		&:focus {
			outline: none;
		}
	}
	button {
		border-radius: shared.$spacing-md;
	}
}

#search-individual {
}
