@use '../shared';
@use 'screenshift/scss' as *;

#table {
	table {
		width: 100%;
		border-collapse: collapse;
		border-radius: shared.$spacing;
		overflow: hidden;
	}
	th,
	td {
		padding: shared.$spacing-xs shared.$spacing;
	}
	th {
		&:first-of-type {
			min-width: 14ch;
		}
	}
	th {
		text-align: left;
		background: var(--color-primary);
		color: var(--color-neutral);
	}
	caption {
		text-transform: uppercase;
		font-weight: 700;
		padding: shared.$spacing 0;
	}
	.caption {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.btn {
			padding: 0;
		}
		ul {
			gap: shared.$spacing-xs;
		}
	}
	tr:nth-of-type(2n) {
		background: hsl(0 0% 0%/ 0.07);
	}
	ul {
		display: flex;
	}
	tbody {
		tr {
			cursor: pointer;
			transition: 0.25s ease-in-out;
			&:hover {
				background: var(--color-accent);
			}
		}
	}

	// styling status
	[data-result] {
		p {
			background: var(--color);
			width: fit-content;
			padding: 0px 10px 2px 30px;
			border-radius: shared.$spacing;
			position: relative;
			text-transform: capitalize;
			&::after {
				position: absolute;
				left: 0;
				content: '';
				width: 12px;
				aspect-ratio: 1;
				border-radius: 50%;
				top: 50%;
				left: 10px;
				transform: translateY(-50%);
				background: var(--color-dot);
			}
		}
	}
	[data-result='admis'] {
		--color: color-mix(in srgb, var(--color-success), transparent 75%);
		--color-dot: color-mix(in srgb, var(--color-success), transparent 0%);
		color: var(--color-success-content);
	}
	[data-result*='non'] {
		--color: color-mix(in srgb, var(--color-error), transparent 75%);
		--color-dot: color-mix(in srgb, var(--color-error), transparent 0%);
		color: var(--color-error-content);
	}
}
@media (max-width: $screenshift-lg) {
	#table {
		th {
			display: none;
		}
		td {
			display: grid;
			grid-template-columns: 17ch auto;
			padding: calc(shared.$spacing-xs / 1.5) shared.$spacing-md;
			&::before {
				content: attr(data-cell);
				font-weight: 700;
				text-transform: capitalize;
			}
			&:first-child {
				padding-top: shared.$spacing;
			}
			&:last-child {
				padding-bottom: shared.$spacing;
			}
		}
	}
}
